ansible==2.0.1.0
backports-abc==0.4
backports.ssl-match-hostname==3.5.0.1
certifi==2016.2.28
cffi==1.5.2
cycler==0.10.0
decorator==4.0.9
Django==1.9.4
ecdsa==0.13
feedparser==5.2.1
Flask==0.10.1
futures==3.0.5
ipython==4.1.2
ipython-genutils==0.1.0
isodate==0.5.4
itsdangerous==0.24
jinja2==2.8
markupsafe==0.23
matplotlib==1.5.1
misaka==2.0.0
msgpack-python==0.4.7
MySQL-python==1.2.5
numpy==1.11.0
optionaldict==0.1.1
paramiko==1.16.0
path.py==8.1.2
pickleshare==0.6
pycparser==2.14
pycrypto==2.6.1
pycurl==7.19.0.2
pyparsing==2.1.1
pypiwin32==219
pypyenv==0.1.1
pyreadline==2.1
pyte==0.5.2
python-dateutil==2.5.3
pytz==2016.4
pywin32==220
pywinrm==0.1.1
PyYAML==3.11
pyzmq==15.2.0
redis==2.10.5
requests==2.9.1
salt==2015.8.8
scapy==2.3.2
scikit-learn==0.17.1
scipy==0.16.1
simplegeneric==0.8.1
simplejson==3.8.2
singledispatch==3.4.0.3
six==1.10.0
tornado==4.3
traitlets==4.2.1
wcwidth==0.1.6
wechatpy==1.2.9
Werkzeug==0.11.8
WMI==1.4.9
xmltodict==0.10.1
