<div class="sidebar-collapse">
	<li class="nav-header">
		<div class="dropdown profile-element">
			<span><img alt="image" class="img-circle" src="/static/img/profile_small.jpg" /></span>
			<a data-toggle="dropdown" class="dropdown-toggle" href="#">
				<span class="clear">
                               <span class="block m-t-xs"><strong class="font-bold">Beaut-zihan</strong></span>
				<span class="text-muted text-xs block">超级管理员<b class="caret"></b></span>
				</span>
			</a>
			<ul class="dropdown-menu animated fadeInRight m-t-xs">
				<li><a class="J_menuItem" href="/User/Personal/Face">修改头像</a>
				</li>
				<li><a class="J_menuItem" href="/User/Personal/Profile">个人资料</a>
				</li>
				<li class="divider"></li>
				<li><a href="/User/Logout">安全退出</a>
				</li>
			</ul>
		</div>
		<div class="logo-element">H
		</div>
	</li>
	<ul class="nav" id="side-menu">
		<li>
			<a href="#">
				<i class="fa fa-home"></i>
				<span class="nav-label">项目管理</span>
				<span class="fa arrow"></span>
			</a>
			<ul class="nav nav-second-level">
				<li>
					<a class="J_menuItem" href="/Admin/Project/List" data-index="0">列表</a>
				</li>
			</ul>
		</li>
		<li>
		
		<a class="J_menuItem" href="/Admin/Hlan" data-index="0"><i class="fa fa-header"></i>WebHlan</a>
		</li>
	</ul>
</div>